<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/hero1.jpg" alt="slide" style="display: block; width: 100%; height: 600px; object-fit: cover;">
    </slide>

    <slide>
        <img src="assets/images/hero2.jpg" alt="slide" style="display: block; width: 100%; height: 600px;">
    </slide>

    <slide>
        <img src="assets/images/hero3.jpg" alt="slide" style="display: block; width: 100%; height: 600px;">
    </slide>

</carousel>

<section>
<div class="d-flex justify-content-center pt-4">
<h1>Welcome to the Shop!</h1>
</div>
</section>